<div *ngIf="!isAdminLoggedIn && !isUserLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Not LoggedIn</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Admin Role</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/user" routerLinkActive="active">Post User</button>
    <button mat-button routerLink="/admin/users" routerLinkActive="active">Users</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>
<div *ngIf="isUserLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">User Role</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/user/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
